/* DO NOT CHANGE BODY AND MENU UL */
body {
  font-family: Helvetica;
  font-size: 13px;
  margin-top: 20px;
  margin-right: 40px;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
} 

#menu {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
  font-family: "Myriad Pro", "Helvetica Neue", Helvetica;
}

#content {
  margin-top: 15px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
  max-width: 800px; /* Allow for larger screen sizes */
}

div {
  display: block;
  unicode-bidi: isolate;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content img {
  border-radius: 5px;
  margin-bottom: 20px;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

#content p, #content ul {
  color: #333;
  line-height: 18px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}