/* Global entire container attributes */
.container {
  display: flex;
  width: 100%;
}

/* Invisible */
.column1 {
  flex: 0 0 20%;  
}

/* Content */
.column2 {
  flex: 0 0 45%; 
}

/* Menu */
.column3 {
  flex: 0 0 34%;  
  text-align: right;
  margin-right: 30px;
}

/* Hides Menu bullets */
.column3 ul {
  list-style-type: none;
}

/* Bolds Menu user name */
.title {
  font-weight: bold;
}
