/* DO NOT CHANGE BODY AND MENU */

body {
  font-family: Helvetica;
  font-size: 13px;
  margin-top: 20px;
  margin-right: 20px;
}

#menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
} 
