/* RESET: Normalize inconsistencies across browsers */
* {
  margin: 10px;
  padding: 0px;
  font-size: 14px;
}

body {
  font-family: Arial, sans-serif;
  /* RESET: Normalize inconsistencies across browsers 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
} */

